/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Menu Code for Mobile First Style (minus the bits you know how to do):
----------------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
#dropdown {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
#dropdown span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
#dropdown span:before, #dropdown span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
#dropdown span:before {
    top: 5px;
}
#dropdown span:after {
    top: -5px;
}
#dropdown {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ #dropdown span {
    background: transparent;
}
input:checked ~ #dropdown span:before {
    transform: rotate(-45deg);
}
input:checked ~ #dropdown span:after {
    transform: rotate(45deg);
}
input:checked ~ #dropdown:not(.steps) span:before, input:checked ~ #dropdown:not(.steps) span:after {
    top: 0;
}
/*HTML,Body,Header,Main,Text,Footer
-------------------------------------------------------*/
html {
    background-color: #020659;
}
body {
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 375px;
    min-width: 875px;
}
header, footer,nav {
    width: 100%;
}
header {
    background-image: linear-gradient(to right, #2104d9,#030a8c,#020873,#020659);
    padding: 2px 2px 2px 2px;
    top: 30px;
    width: auto;
    margin-top: 10px;
    height: 70px;
   position: relative;
}
header p {
  color:#ffffff
}
main {
    background-color: #ffffff;
}
h1 {
  font-size:1.25em;
  color:#ffffff
}
h2, h3 {
  font-size: 1em;
  color:#ffffff
}
p, dl, dd {
  font-size: 1em;
}
footer p {
  font-size: .75em;
}
footer {
    text-align: center;
    clear: both;
    color: #590242;
    margin-bottom: 5px;
}

/*Navigation
--------------------------------------*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2104d9;
  color: #ffffff;
  width:100%;
  height: 30px;
}
nav li {
  list-style: none;
}
nav li a {
  text-decoration: none;
  color: #ffffff;
  padding: 3px;
  display: block;
}
nav a:hover{
    background-color: #590242;
    color: #ffffff;
}
nav h2 {
    visibility: hidden;
    display: none;
  }
li a.muzamaker {
    font-size: 15px;
    text-transform: capitalize;
    color: #ffffff;
    margin: .5px;
    display: flex;
    position: relative;
  }
  /*Trending Playlist
  --------------------------------*/
/*#trending {
  display: flex;
  margin-top: auto;
  height: 400px;
}*/

#trending img {
  float:inline-start;
  display: flex;
  flex-direction: row;
}
dl,dt {
    display: flex;
    color: #590242;
    position: relative;
    bottom: 25px;
    padding-right: 5px;
    z-index: 1;
  }
 /* 
dt {
    padding-right: 5px;
  }*/
#trending h3 {
    color: #590242;
    margin: 2px;
    bottom: 40px;
    left: 5px;
    width:auto;
    position: absolute;
}
#trending h2 {
  color:#590242;
}

  /*Your Playlists
  -------------------------------------*/
  #playlists {
    background-color: #2699fb;
    width:auto;
    grid-column-start:auto;
  }
  #playlists h2{
    color: #590242;
}
  #playlists h3,p {
  color: #ffffff;
}
#playlists section {
grid-template-rows: auto; 
  display: flexbox;
  height: 400px;
  width: 350px;
  float: right;
  clear: left;
}
#playlists img {
 /* background-color: #0D8Dfb;*/
  color:#ffffff;
  float: none;
  justify-content: space-between;
  display: flex;
  }

/*Curated Playlist
-----------------------------------------------------------------*/
#curated  {
  background-color: #2104d9;
  width: auto;
  grid-column-start:auto;
}
#curated h2 {
  color:#590242;
}
#curated h3,p {
  color: #ffffff;
}
#curated section {
  grid-template-rows: auto; 
  display: flexbox;
  height: 400px;
  width: 350px;
  float: right;
  clear: left;
}
#curated img {
  /*background-color:#020659;*/
  color:#ffffff;
  float:none;
  justify-content: space-between; 
  display: flex;

}

/*Playlist Grid
---------------------------------------------------------------*/
/*#playlists ~ #curated {
    grid-auto-flow: column;
}*/

  /*Audio 
  -------------------------------------------------------------*/
  audio::-webkit-media-controls-mute-button {
    background-color: #ffffff;
    border-radius: 50%;
  }
  audio::-webkit-media-controls-play-button {
  background-color: #ffffff;
  border-radius: 50%;
  }
  audio::-webkit-media-controls-enclosure {
   background-color: rgba(252, 245, 245, 0.5);
  }
  audio {
    position: absolute;
    bottom: 150px;
    left: 5px;
    border-radius: 10%;
  }
 

  /* Scrollbar
  -------------------------------- */
 #trending ::-webkit-scrollbar {
    width: 15px;
  }
  #trending ::-webkit-scrollbar-track { 
    box-shadow: inset 0 0 15px #590242;
  
  }
  #trending ::-webkit-scrollbar-thumb {
    background: #590242;
    border-radius: 5px;
   
  }
  #trending ::-webkit-scrollbar-thumb:hover {
    background: #020659;
  
  }
  #playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar {
    width: 15px;

  }
  #playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 15px #590242;
  
  }
  #playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {
    background: #590242;
    border-radius: 5px;
  
  }
  #playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {
    background: #020659;

  }

  /*Scroll - Trending Playlist
  ---------------------------------------*/
  .scroll  {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
  }
 .scroll section {
    margin: 10px;
    position: relative;
  }
  .scroll div {
    /*position: absolute;*/
    top: 251px;
    background-color:#ebe3e3;
    padding: 5px;
    height: 50px;
    width: 350px;
  }
 /*Scroll -Your Playlist
 ----------------------------------------------*/
 .scroll1  {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
  }
  .scroll1 section {
    margin: 10px;
    position: relative;
  }
  .scroll1 div {
    position: absolute;
    top: 251px;
    background-color:#0D8Dfb;
    padding: 5px;
    height: 100px;
    width: 350px;
  }
   /*Scroll - Curated Playlist
 ----------------------------------------------*/
  .scroll2  {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
  }
  .scroll2 section {
    margin: 10px;
    position: relative;
  }
  .scroll2 div {
    position: absolute;
    top: 251px;
    background-color:#020659;
    padding: 5px;
    height: 100px;
    width: 350px;
  }
  /*Buttons
  --------------------------------------*/
.button {
 background-color: #590242;
 font: 1em sans-serif;
 color:#ffffff;
 border-radius: 10px;
 float: none;
 position: relative;
}
.button:hover {
  background-color: #020659;
}
.button1 {
  background-color: #590242;
  font: 1em sans-serif;
  color:#ffffff;
  border-radius: 10px;
  float: none;
  position: relative;
 }
 .button1:hover {
   background-color: #020659;
 }
 .button2 {
  background-color: #590242;
  font: 1em sans-serif;
  color:#ffffff;
  border-radius: 10px;
  float: none;
  position: relative;
 }
 .button2:hover {
   background-color: #020659;
 }

 
@media screen and (min-width:834px) {
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        width:100%;
        height: 50px;
        justify-content: space-between;
    }
    #dropdown span, input {
        display: none;
    }
    /*HTML,Body,Header,Main,Text,Footer
    --------------------------------------------------------------*/
   /* html {
        background-color: #020659;
    }
    body {
        margin: 0 auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    header {
        background-image: linear-gradient(to right, #2104d9,#030a8c,#020873,#020659);
        padding: 2px 2px 2px 2px;
        width: auto;
        margin-top:10px;
        height: 70px;
        top: 30px;
       position: relative;
    }
    main {
        background-color: #ffffff;
    }
a.muzamaker {
    font-size: 15px;
    text-transform: capitalize;
    color: #ffffff;
    margin: .5px;
    display: flex;
    position: relative;
    }*/
    
    /*Navigation
    -----------------------------------------------------*/
/*nav  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2104d9;
  color: #ffffff;
}
nav ul {
  margin: 0;
  padding: 0;
  display:flex;
}
nav li {
  list-style: none;
}
nav li a {
  text-decoration: none;
  color: #ffffff;
  padding: 3px;
  display: block;
}
nav a:hover{
    background-color: #590242;
    color: #ffffff;
}
nav h2 {
  visibility: hidden;
  display: none;
 }
/*Trending Playlist
---------------------------------------------------------------*/
/*.scroll  {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  overflow-x: auto;
  overflow-y: hidden;
}
.scroll section {
  margin: 10px;
  position: relative;
}
.scroll div {
  position: absolute;
  top: 251px;
  background-color:#ebe3e3;
  padding: 5px;
  height: 50px;
  width: 100%;
} */   
 /*Your Playlists
 ---------------------------------------------------------------*/
/* .scroll1  {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  overflow-x: hidden;
  overflow-y: auto;
}*/
/*.scroll1 section {
  margin: 10px;
  position: relative;
  flex-direction: column;
}
.scroll1 div {
  position: absolute;
  top: 251px;
  background-color:#ebe3e3;
  padding: 5px;
  height: 50px;
  width: 834px;
}
 /*Curated Playlist
 ----------------------------------------------------------------*/
 /*.scroll2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  overflow-x: hidden;
  overflow-y: auto;
}
.scroll2 section {
  margin: 10px;
  position: relative;
  flex-direction: column;
}
.scroll2 div {
  position: absolute;
  top: 251px;
  background-color:#ebe3e3;
  padding: 5px;
  height: 50px;
  width: 834px;
}  */


}