/*http://meyerweb.com/eric/tools/css/reset/
v2.0| 20110126 
License: none (public domain)
*/
/*Large screen*/
html {
    background-color:#020659;  
  }

  /*body*/
  body {
    min-width: 375px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  /*done*/
  .smooth {
    background-image: linear-gradient(to right, #020873 , #020659);
    padding: 20px 20px 15px 15px;

  }
  /*header*/
 
  /*navigation*/
 nav li {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    position: relative;
  } 

  /*nav a {
    color: #ffffff;
    text-align: center;
    position: relative;
  } */
   
  nav a:hover {
  background-color: #590242;
  color:#ffffff;
  }

  nav h2 {
    visibility: hidden;
  }

  .user {
    float: left;

  }

  .home {
    float: top;
    position: sticky;
  }
  /*wrap
  .wrapper {
    width: 100%;
    max-width: 375px;
    margin:auto;
  }*/
 
  /*buttons*/
.buttona {
  background-color: #590242;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  float: left;
  padding: 5px 5px 5px 5px;
}
.buttona :hover {
  background-color: #020659;
}
.buttonb {
  background-color: #590242;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  float: right;
  padding: 5px 5px 5px 5px;
}
.buttonb :hover {
  background-color: #020659;
}
.buttonc {
  background-color: #590242;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  float: left;
  padding: 5px 5px 5px 5px;
}
.buttonc :hover {
  background-color: #020659;
}
  /* TEXT */
  h1 {
   visibility: hidden;
  }
  h2 + h3 { 
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
footer + p {
  font-size: .75em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p  {
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*Trending playlists */
#trending {
    background-color: #ffffff;
    color: #590242;
    /*display: flex;
    flex-wrap: wrap;*/
    /*margin: 0px 0;*/
    overflow: hidden;
    overflow-y: auto;
    overflow-x: scroll;
    float: inline-start;
    scrollbar-width: normal;
    scroll-behavior: smooth;
  
}

#trending img {
  float: inline-start;
  size-adjust: auto;
  overflow-y: hidden;
  overflow-x: auto;
}
/*#trending dl {
  display: flex;
}*/
dl {
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  
}
dt,dd{
  padding-right: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
}
.audio {
  position: absolute;
  display: flexbox;
  bottom: 150px;
  left: 5px;
  border-radius: 10%;
  /*rgba {transition-property: background-color: ;}*/
  }

/*Your Playlists */
#playlists {
    background-color: #0D8DFB;
    color:#ffffff;
    float: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px 0;
    overflow: hidden;
    scrollbar-width: normal;
    scroll-behavior: smooth;
  }
  #playlists h2 {
    background-color: #0D8DFB;
  }

/*
  #playlists :hover {
    background-color: #590242;
  }*/
  
  #playlists img {
    float: left;
    background-color: #2699fb;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: auto;
  }


/*Curated Playists*/
#curated {
    background-color: #2104d9;
    color:#ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: right;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*padding: 0px;
    margin: 0px 0;*/
    overflow: hidden;
    scrollbar-width: normal;
    scroll-behavior: smooth;
}

/*
#curated:hover {
  background-color: #590242;
}*/

 #curated img {
  float: right;
  background-color: #030a8c;
  overflow-y: hidden;
  overflow-x: auto;
 }
 
   /*footer*/
  footer {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #590242;
    width: 100%;
  }

  /*Audio */
  audio::-webkit-media-controls-mute-button {
    background-color: #ffffff;
  }
  audio::-webkit-media-controls-play-button {
  background-color: #ffffff;
  }
  audio::-webkit-media-controls-enclosure {
   background-color: #ffffff;
  }
 

  /*Scroll*/
  .scroll {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
  }
  .scroll :secton {
    margin: 10px;
    position: relative;
  }
  .scroll div {
    position: absolute;
    top: 251px;
    background-color: rgba(255, 255, 255, .75);
    padding: 5px;
    height: 50px;
    width: 350px;
  }
  
  /* Scrollbar */
  #trending ::-webkit-scrollbar {
    width: 15px;
  }
  #trending ::-webkit-scrollbar-track { 
    box-shadow: inset 0 0 15px #590242;
  
  }
  #trending ::-webkit-scrollbar-thumb {
    background: #590242;
    border-radius: 5px;
  
  }
  #trending ::-webkit-scrollbar-thumb:hover {
    background: #020659;
  
  }
  #playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar {
    width: 15px;

  
  }
  #playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 15px #590242;
  
  }
  #playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {
    background: #590242;
    border-radius: 5px;
  
  }
  #playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {
    background: #020659;
  
  }

  /* mobile*/
/*Mobile first-Menu
  Menu Code for Mobile First Style (minus the bits you know how to do): */
 /* @media screen and (min-width: 375px){ 

  nav ul {
    grid-template-columns: 1fr 1fr 1fr;
    display:grid;
  }  
  main {
      display: grid;
      grid-template-columns: 1fr 1fr ;
    }
   ul {
       overflow: hidden;
       max-height: 0;
       transition: max-height .2s ease-out;
   }
   label {
       cursor: pointer;
       display: inline-block;
       padding: 28px 20px;
       position: relative;
       user-select: none;
   }
   label span {
       background-color: #ffffff;
       display: block;
       height: 2px;
       position: relative;
       transition: background-color .2s ease-out;
       width: 18px;
   }
   label span:before, label span:after {
       background: #ffffff;
       content: '';
       display: block;
       height: 100%;
       position: absolute;
       transition: all .2s ease-out;
       width: 100%;
   }
   label span:before {
       top: 5px;
   }
   label span:after {
       top: -5px;
   }
   input {
       display: none;
   }
   input:checked ~ ul {
       max-height: 500px;
   }
   input:checked ~ label span {
       background: transparent;
   }
   input:checked ~ label span:before {
       transform: rotate(-45deg);
   }
   input:checked ~ label span:after {
       transform: rotate(45deg);
   }
   input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
       top: 0;
   }
  #dropdown{
    display: list-item;
  }
 }
 */

  