/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Menu Code for Mobile First Style (minus the bits you know how to do): */

ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
#dropdown {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
#dropdown span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
#dropdown span:before, #dropdown span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
#dropdown span:before {
    top: 5px;
}
#dropdown span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ #dropdown:not(.steps) span:after {
    top: 0;
}
/*HTML,Body,Header,Main,Text,Footer*/
html {
    background-color: #020659;
}
body {
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 375px;
    min-width: 875px;
}
header, footer,nav {
    width: 100%;
}
header {
    background-image: linear-gradient(to right, #2104d9,#030a8c,#020873,#020659);
    padding: 5px 5px 5px 5px;
    width: 100%;
    top: 30px;
    position: relative;
}
main {
    background-color: #ffffff;
}
footer {
    text-align: center;
}

/*Navigation*/
nav a:hover{
    background-color: #590242;
    color: #ffffff;
}
nav h2 {
    visibility: hidden;
    display: none;
  }

  /*Trending Playlist*/
#trending {
    margin: 5px;
}
dl {
    display: flex;
    color: #590242;
  }
  
  dt,dd {
    display: flex;
    color: #590242;
    padding-right: 0px;
  }
#trending h3 {
    color: #590242;
}
  /*Your Playlists*/
#playlists {
    background-color: #2699fb;
    float: left;
}
#playlists h2{
    color: #590242;
}
#playlists h3,p {
    color: #ffffff;
}
#playlists .yp {
    background-color: #0D8Dfb;
    color:#ffffff;
}

/*Curated Playlist*/
#curated {
    background-color: #2104d9;
    float:none;
}
#curated h2 {
    color:#590242;
}
#curated h3,p {
    color: #ffffff;
}
#curated .cp {
    background-color:#020659;
    color:#ffffff;

}
/*Playlist Grid*/
#playlists ~ #curated {
    grid-auto-flow: row;
}
#curated ~ #playlists {
    grid-auto-rows: row;
}
  /*Audio */
  audio::-webkit-media-controls-mute-button {
    background-color: #ffffff;
    border-radius: 50%;
  }
  audio::-webkit-media-controls-play-button {
  background-color: #ffffff;
  border-radius: 50%;
  }
  audio::-webkit-media-controls-enclosure {
   background-color: rgba(252, 245, 245, 0.5);
  }
  .audio {
    position: absolute;
    bottom: 150px;
    left: 5px;
  }

  /* Scrollbar */
  #trending ::-webkit-scrollbar {
    width: 15px;
  }
  #trending ::-webkit-scrollbar-track { 
    box-shadow: inset 0 0 15px #590242;
  
  }
  #trending ::-webkit-scrollbar-thumb {
    background: #590242;
    border-radius: 5px;
  
  }
  #trending ::-webkit-scrollbar-thumb:hover {
    background: #020659;
  
  }
  #playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar {
    width: 15px;

  }
  #playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 15px #590242;
  
  }
  #playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {
    background: #590242;
    border-radius: 5px;
  
  }
  #playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {
    background: #020659;

  }

  /*Scroll*/
  .scroll, .scroll1, .scroll2 {
    grid-template-columns: repeat(3, 3fr);
    overflow: scroll;
    overflow-y: hidden;
    position: relative;
  }


@media screen and (min-width:834px) {
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    #dropdown span, input {
        display: none;
    }
    /*HTML,Body,Header,Main,Text,Footer*/
    html {
        background-color: #020659;
    }
    body {
        margin: 0 auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    header {
        background-image: linear-gradient(to right, #2104d9,#030a8c,#020873,#020659);
        padding: 5px 5px 5px 5px;
        width: auto;
        top: 30px;
        position: relative;
    }
    main {
        background-color: #ffffff;
    }
    [href="#home"]{
        bottom: 0px;
        left: 90px;
        font-size: 25px;
        color: #ffffff;
      }
    
    /*Navigation*/
    nav ul {
        background-color: #030a8c;
        color:#ffffff;
        top: 0;
        display:grid;

    }
    nav a:hover{
        background-color: #590242;
    }
    nav li {
        text-align: justify;
    }
    nav h2 {
        visibility: hidden;
        display: none;
      }
    /*Trending Playlist*/
      #trending {
        margin: 5px;
      }
     /*Your Playlists*/
      #playlists {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    /*Curated Playlist*/
      #curated {
        grid-column-start: 3;
        grid-column-end: 5;
      }
#playlists ~ #curated {
    grid-auto-flow: column;
}


}